/* @theme ESI */

@import 'default';

:root {
  /* ... */
  font-size: 18px;
}

h1 {
  color: rgb(70, 70, 70);
  font-size: 130%;
}

h2 {
  color: rgb(242, 107, 39);  
  font-size: 115%;
  top: 100px;
}

section {
  background-image: url('./themes/esi-bcg2023.png');
  justify-content: flex-start;
}


section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 1px 20px;
  position: absolute;
}

header {
  top: 10px;
  right: 20px;
  color: rgb(237, 242, 244);
  font-size: 100%;
  font-style: bold;
  text-align: right;
}

footer {
  left: 500px;
  right: 0;
  bottom: 15px;
}
.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
